*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";

}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;

    width: 100%;
    height: 100%;
   
}

#left{
    width: 40%;
    height: 100%;
    position: relative;
}

#lnav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr i{
    color: blue;
}

#lnavr a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

#textcenter h1{
    font-size:90px;
    font-weight: 900;
}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

#left #textcenter
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#right{
    width: 60%;
    height: 100%;
    background-color: yellow;
}

 #rtop
{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: cadetblue;

}

 #rbottom
{
    height: 50%;
    width: 100%;
    background-color: yellow;
    background-image: url(https://plus.unsplash.com/premium_photo-1671013032586-3e9a5c49ce3c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG9yYW5nZXxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;
}

#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/185284489/photo/orange.jpg?s=1024x1024&w=is&k=20&c=q5eBnLHG9tiKv0Hl2lPVF6nnEYCXQtFYfh0u9mvHwaI=);
    background-position: center;
    background-size: cover;
}

#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1675667408018-3b64dbc55db1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8b3JhbmdlfGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;
}

@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;

    }

    #main #right{
        width: 100%;

    }
    

}


    
